.x-icon-au{
    background-image: url(img/Australia.png) !important;
}
.x-icon-at{
    background-image: url(img/Austria.png) !important;
}
.x-icon-fr{
    background-image: url(img/France.png) !important;
}
